{% if notifications.total %}
    <ul class="notifications">
        {% for notification in notifications %}
            <li class="type-{{ notification.type }}">
                <i class="bi bi-{{ notification.data.icon|default('star') }}"></i>
                <div class="parsed-body">{{ notification.parsed_body|raw }}</div>
                <div class="text-muted date">{{ notification.created_at|date('M d, Y') }}</div>
            </li>
        {% endfor %}
    </ul>

    {% if notifications.lastItem() < notifications.total %}
        <div class="notifications-footer">
            <a href="javascript:;" class="text-muted" data-notifications-load-more>
                View older messages ({{notifications.total - notifications.lastItem()}})
            </a>
        </div>
    {% endif %}

    <input type="hidden" name="records_per_page" value="{{ notificationToDisplay }}" />
{% else %}
    <p class="text-muted no-notifications">There are no notifications for you</p>
{% endif %}
